<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita tenetur
                excepturi nisi laudantium
                laboriosam molestias animi ullam? Vel, ipsa reiciendis, quos hic in maxime nulla voluptas obcaecati,
                dignissimos alias adipisci!</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> homeofficedumont@gmail.com</li>
                <li><i class="fa-brands fa-whatsapp"></i> (77) 9.9801-4476</li>
                <li><i class="fa-solid fa-phone"></i> (77) 3612-2818</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>